html {
    height: 95%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(216deg, 12%, 8%);
    height: 95%;
}

.first__wrapper, .second__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.first__window, .second__window {
    padding: 30px 20px;
    width: 335px;
    height: 360px;
    background-color: hsla(213deg, 20%, 18%, 0.637);
    border-radius: 20px;
}

.star__wrap {
    width: 42px;
    height: 42px;
    background-color:hsl(213, 19%, 18%);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.star-pic {
    width: 35%;
    height: 35%;
}

.title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: hsl(0, 0%, 100%);
}

.desc-text {
    color: hsl(216, 12%, 54%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 20px;
}

.number__item {
    width: 42px;
    height: 42px;
    background-color:hsl(213, 19%, 18%);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: hsl(216, 12%, 54%);
    letter-spacing: 0ch;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0em;
}

.number__item:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.number__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.submit {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 14px;
    height: 45px;
    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 30px;
    letter-spacing: 0.2em;
}

.submit:hover {
    color:hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: 0.2s all;
}





.thank__img {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.selected {
    border-radius: 15px;
    width: 170px;
    height: 30px;
    background-color:hsl(213, 19%, 18%);
    margin: auto;
    margin-bottom: 25px;
}

.selected-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color:hsl(25, 97%, 53%);
}

.response-title {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color:  hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.response-text {
    text-align: center;
    color: hsl(216, 12%, 54%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
}

.hide {
    display: none;
}

.active {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}